header {
  height: 120px;
  left: 0%;
  right: 0%;
  top: 0px;
  background: #FFFFFF;
  border-radius: 0px;
}

.wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper-header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 110px;
  margin-left: 110px;
}
.wrapper-header .menu .menu-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper-header .menu .menu-left-side .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 370px;
}
.wrapper-header .menu .menu-left-side .menu-items .item {
  list-style-type: none;
}
.wrapper-header .menu .menu-left-side .menu-items .item a {
  text-decoration: none;
  height: 30px;
  top: 0px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #211F54;
}
.wrapper-header .menu .menu-left-side img {
  margin-top: 8px;
}
.wrapper-header .menu .menu-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper-header .menu .menu-right-side .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper-header .menu .menu-right-side .menu-items .item:first-child {
  margin-right: 10px;
}
.wrapper-header .menu .menu-right-side .menu-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
.wrapper-header .menu .menu-right-side .menu-items .item a {
  text-decoration: none;
  height: 30px;
  top: 0px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #211F54;
}
.wrapper-header .menu .menu-right-side .menu-items .item .btn {
  width: 175px;
  height: 55px;
  background: #0075FF;
  border-radius: 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  border: 0;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 720px;
  background-image: url("/img/svg/promo.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #fffcf6;
}
.promo .promo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.promo .promo-wrapper .promo-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 520px;
  margin-left: 110px;
  margin-top: 220px;
}
.promo .promo-wrapper .promo-about .promo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.promo .promo-wrapper .promo-about .promo-content h1 {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 74px;
  color: #211F54;
}
.promo .promo-wrapper .promo-about .promo-content p {
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #6E7191;
}
.promo .promo-wrapper .promo-about .promo-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.promo .promo-wrapper .promo-about .promo-contact button {
  width: 175px;
  height: 55px;
  background: #0075FF;
  border-radius: 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  border: 0;
}
.promo .promo-wrapper .promo-about .promo-contact .promo-tell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.promo .promo-wrapper .promo-about .promo-contact .promo-tell .i-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  width: 50px;
  height: 50px;
  color: #0075FF;
  border: 1px solid #DCDDEB;
  border-radius: 50px;
  margin-left: 30px;
}
.promo .promo-wrapper .promo-about .promo-contact .promo-tell .promo-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
}
.promo .promo-wrapper .promo-about .promo-contact .promo-tell .promo-number .call {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #6E7191;
}
.promo .promo-wrapper .promo-about .promo-contact .promo-tell .promo-number a {
  text-decoration: none;
  height: 30px;
  top: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #211F54;
}

.over-services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.over-services-about {
  margin-top: 240px;
}
.over-services-about h2 {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #211F54;
}
.over-services-about p {
  margin: 0;
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: #6E7191;
  width: 650px;
}
.over-services .services {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.over-services .services .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.over-services .services .service .wrap-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background: #CEE5FF;
  margin-bottom: 40px;
}
.over-services .services .service h3 {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #211F54;
}
.over-services .services .service .over-services-description {
  width: 415px;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: #6E7191;
  margin-bottom: 60px;
}
.over-services .wrap-btn {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 240px;
}
.over-services .wrap-btn .btn {
  width: 175px;
  height: 55px;
  background: #0075FF;
  border-radius: 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  border: 0;
}
.over-services .wrap-btn .btn-explore {
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.4);
          box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.4);
  color: #211F54;
}
.over-services .line {
  height: 10px;
  background-color: #DCDDEB;
  border-radius: 0px;
}

.comparison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fffcf6;
}
.comparison-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comparison-about h2 {
  max-width: 610px;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #211F54;
}
.comparison-about p {
  margin: 0;
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: #6E7191;
  width: 700px;
}
.comparison .numbers-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: 30px;
  width: 750px;
}
.comparison .numbers-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comparison .numbers-items .item .icon {
  width: 70px;
  height: 70px;
  border: 1px solid #DCDDEB;
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comparison .numbers-items .item .icon i {
  color: #0075FF;
  font-size: 40px;
}
.comparison .numbers-items .item .icon .wrap-heart-i {
  position: relative;
}
.comparison .numbers-items .item .icon .wrap-heart-i .fa-heart-big {
  position: absolute;
  z-index: 0;
  top: -19px;
  left: -19px;
}
.comparison .numbers-items .item .icon .wrap-heart-i .fa-heart-small {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  color: #123578;
}
.comparison .numbers-items .item .icon .icon-human {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comparison .numbers-items .item .icon .icon-human .icon-human-head {
  background-color: #0075FF;
  width: 17px;
  height: 17px;
  border-radius: 9px;
}
.comparison .numbers-items .item .icon .icon-human .icon-human-body {
  margin-top: 5px;
  background-color: #123578;
  width: 30px;
  height: 15px;
  border-radius: 9px;
}
.comparison .numbers-items .item .numbers {
  height: 70px;
  margin-left: 15px;
}
.comparison .numbers-items .item .numbers .description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #6E7191;
}
.comparison .numbers-items .item .numbers .count {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 45px;
  color: #211F54;
}
.comparison .numbers-items .item .numbers p {
  margin: 0;
}
.comparison-video {
  position: relative;
  overflow: hidden;
  width: 1012px;
  height: 570px;
  background: #CEE5FF;
  border-radius: 65px;
  margin-top: 40px;
}
.comparison-video .comparison-video-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.comparison-video .comparison-video-wrap img {
  opacity: 0.6;
  z-index: 1;
}
.comparison-video .comparison-video-wrap .fa {
  width: 198px;
  height: 198px;
  background-color: #FFFFFF;
  border-radius: 100px;
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comparison-video .comparison-video-wrap .fa .fa-play {
  text-align: center;
  color: #0075FF;
  font-size: 60px;
}
.comparison-line {
  width: 1220px;
  height: 1px;
  background-color: #DCDDEB;
  margin-top: 240px;
}

.look {
  margin-top: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.look-head {
  width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.look-head h2 {
  max-width: 475px;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: left;
  color: #211F54;
}
.look-head .btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #211F54;
}
.look-head .btn-explore {
  width: 215px;
  height: 75px;
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.4);
          box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.4);
  color: #211F54;
  border-radius: 14px;
}
.look-cleaning-places {
  width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.look-cleaning-places .place {
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 16px;
  margin-top: 60px;
  width: 390px;
  height: 495px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}
.look-cleaning-places .wrap-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 225px;
}
.look-cleaning-places h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #211F54;
  margin: 0;
  margin-top: 25px;
}
.look-cleaning-places p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: #6E7191;
  width: 310px;
  margin: 0;
  margin-top: 15px;
}

.covid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.covid-wrap {
  margin-top: 240px;
  width: 1220px;
  height: 675px;
  background: #211F54;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.covid-wrap .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.covid-wrap .covid-about {
  margin-left: 73px;
  margin-right: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.covid-wrap .covid-about .covid-content .description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.covid-wrap .covid-about .covid-content h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  width: 490px;
  margin: 0;
  margin-top: 15px;
}
.covid-wrap .covid-about .covid-content p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #FFFFFF;
  width: 470px;
  margin: 0;
  margin-top: 20px;
}
.covid-wrap .covid-about .covid-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
.covid-wrap .covid-about .covid-contact button {
  width: 215px;
  height: 75px;
  background: #0075FF;
  border-radius: 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  border: 0;
}
.covid-wrap .covid-about .covid-contact .covid-tell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.covid-wrap .covid-about .covid-contact .covid-tell .i-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  width: 71px;
  height: 71px;
  color: #0075FF;
  border: 1px solid #DCDDEB;
  border-radius: 50px;
  margin-left: 30px;
  background-color: #FFFFFF;
  font-size: 40px;
}
.covid-wrap .covid-about .covid-contact .covid-tell .covid-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
}
.covid-wrap .covid-about .covid-contact .covid-tell .covid-number .call {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.covid-wrap .covid-about .covid-contact .covid-tell .covid-number a {
  text-decoration: none;
  height: 30px;
  top: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
}

.coverage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}
.coverage-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 110px 0 110px;
}
.coverage .offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.coverage .offers .offers-wrap {
  width: 495px;
}
.coverage .offers .offers-wrap h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #211F54;
  margin: 0;
}
.coverage .offers .offers-wrap p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #6E7191;
  margin: 0;
  margin-top: 20px;
}
.coverage .offers .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}
.coverage .offers .list ul {
  margin: 0;
  margin-right: 75px;
  padding: 0;
}
.coverage .offers .list ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.coverage .offers .list ul li .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  background: #EDF5FF;
  border-radius: 13px;
  color: #0075FF;
  margin-right: 10px;
}
.coverage .offers .list ul li .text {
  width: 90px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #211F54;
}
.coverage .offers .wrap-btn {
  margin-top: 50px;
}
.coverage .offers .wrap-btn button {
  width: 215px;
  height: 75px;
  background: #0075FF;
  border-radius: 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  border: 0;
}

.differences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
}
.differences-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 110px 0 110px;
}
.differences-wrap .description-wrap .text h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #211F54;
  margin: 0;
  margin-top: 10px;
}
.differences-wrap .description-wrap .text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #6E7191;
  width: 490px;
  margin: 0;
  margin-top: 20px;
}
.differences-wrap .description-wrap .text .sub-description {
  font-size: 12px;
  width: 460px;
  margin-top: 15px;
  margin: 0;
}
.differences-wrap .description-wrap .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 400px;
  margin-top: 25px;
}
.differences-wrap .description-wrap .numbers .number {
  margin: 0;
  margin-right: 60px;
}
.differences-wrap .description-wrap .numbers .number:last-child {
  margin-right: 0;
}
.differences-wrap .description-wrap .numbers p {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: #211F54;
}
.differences-wrap .description-wrap .numbers p span {
  font-weight: 400;
  font-size: 54px;
  color: #0075FF;
}
.differences-wrap .description-wrap .numbers .number-description {
  font-size: 18px;
  line-height: 24px;
  color: #6E7191;
}
.differences-wrap .description-wrap .wrap-btn {
  margin-top: 50px;
}
.differences-wrap .description-wrap .wrap-btn button {
  width: 215px;
  height: 75px;
  background: #0075FF;
  border-radius: 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  border: 0;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.line .resources-line {
  width: 1220px;
  height: 1px;
  background-color: #DCDDEB;
}

.resources {
  margin-top: 240px;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 505px;
}
.resources .resources-wrap .resources-heder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.resources .resources-wrap .resources-heder .resources-heder-description {
  width: 500px;
}
.resources .resources-wrap .resources-heder .resources-heder-description h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #211F54;
  margin: 0;
}
.resources .resources-wrap .resources-heder .resources-heder-description p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #6E7191;
  margin: 0;
}
.resources .resources-wrap .resources-heder .resources-heder-btn {
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.resources .resources-wrap .resources-heder .resources-heder-btn .btn {
  min-width: 215px;
  height: 75px;
  background: #0075FF;
  border-radius: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 10px 20px rgba(2, 2, 31, 0.04);
          box-shadow: 0px 10px 20px rgba(2, 2, 31, 0.04);
}
.resources .resources-wrap .resources-heder .resources-heder-btn .btn-browse {
  background: #FFFFFF;
  color: #211F54;
}
.resources .resources-wrap .resources-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.resources .resources-wrap .resources-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 596px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.resources .resources-wrap .resources-items .item .img {
  z-index: 0;
}
.resources .resources-wrap .resources-items .item .description-item {
  padding-left: 50px;
  padding-bottom: 65px;
  width: 484px;
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.1);
          box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.1);
  border-radius: 24px;
  position: absolute;
  z-index: 1;
  top: 306px;
}
.resources .resources-wrap .resources-items .item .description-item h3 {
  margin: 0;
  margin-top: 50px;
  width: 400px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #211F54;
}
.resources .resources-wrap .resources-items .item .description-item p {
  margin: 0;
  width: 430px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #6E7191;
}
.resources .resources-wrap .resources-items .item .description-item .data-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 430px;
}
.resources .resources-wrap .resources-items .item .description-item .data-box .data {
  margin: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #211F54;
}
.resources .resources-wrap .resources-items .item .description-item .data-box .square {
  width: 50px;
  height: 50px;
  background: #0075FF;
}

.request {
  background: #F7F9FC;
}
.request .request-wrap {
  padding-top: 240px;
  padding-bottom: 240px;
  margin-left: 110px;
  margin-right: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.request .request-wrap .request-content {
  margin-top: 145px;
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.request .request-wrap .request-content .request-content-description h2 {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #211F54;
}
.request .request-wrap .request-content .request-content-description p {
  margin: 0;
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #6E7191;
}
.request .request-wrap .request-content .request-content-description .request-tell {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.request .request-wrap .request-content .request-content-description .request-tell .i-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  width: 70px;
  height: 70px;
  color: #0075FF;
  background-color: #FFFFFF;
  border: 1px solid #DCDDEB;
  border-radius: 50px;
}
.request .request-wrap .request-content .request-content-description .request-tell .promo-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
}
.request .request-wrap .request-content .request-content-description .request-tell .promo-number .call {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #6E7191;
}
.request .request-wrap .request-content .request-content-description .request-tell .promo-number a {
  text-decoration: none;
  height: 30px;
  top: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #211F54;
}
.request .request-wrap .request-content .line {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.request .request-wrap .request-content .line .request-line {
  width: 500px;
  height: 1px;
  background-color: #DCDDEB;
}
.request .request-wrap .request-content .request-content-sub-description h3 {
  margin: 0;
  margin-top: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #211F54;
}
.request .request-wrap .request-content .request-content-sub-description p {
  margin: 0;
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #6E7191;
}
.request .request-wrap .request-content .request-content-sub-description button {
  margin-top: 10px;
  width: 257px;
  height: 73px;
  background-color: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  border-radius: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #211F54;
}
.request .request-wrap .request-form {
  margin-top: 85px;
  margin-left: 60px;
  margin-right: 60px;
  width: 670px;
  height: 910px;
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 16px;
}
.request .request-wrap .request-form .request-form-wrap {
  margin-top: 85px;
  margin-left: 55px;
  margin-right: 55px;
}
.request .request-wrap .request-form .request-form-wrap form .form-row {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.request .request-wrap .request-form .request-form-wrap form .form-row .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.request .request-wrap .request-form .request-form-wrap form .form-row .form-group label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #211F54;
}
.request .request-wrap .request-form .request-form-wrap form .form-row .form-group input {
  margin-top: 10px;
  width: 260px;
  height: 72px;
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
          box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
  border-radius: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #211F54;
}
.request .request-wrap .request-form .request-form-wrap form .form-row .form-group textarea {
  width: 551px;
  height: 145px;
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 7px rgba(20, 20, 43, 0.08);
          box-shadow: 0px 2px 7px rgba(20, 20, 43, 0.08);
  border-radius: 22px;
  resize: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #211F54;
}
.request .request-wrap .request-form .request-form-wrap form .form-row button {
  margin-top: 10px;
  width: 215px;
  height: 75px;
  background: #0075FF;
  border-radius: 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  border: 0;
}
.request .request-wrap .request-form .request-form-wrap form .form-row:first-child {
  margin-top: 0;
}

footer {
  width: 100%;
  height: 640px;
  background-color: #FFFFFF;
}
footer .footer-top {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 100px;
  margin-right: 110px;
}
footer .footer-top .footer-top-item {
  width: 300px;
}
footer .footer-top .footer-top-item h3 {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #211F54;
}
footer .footer-top .footer-top-item h4 {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #211F54;
}
footer .footer-top .footer-top-item p {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #6E7191;
}
footer .footer-top .footer-top-item address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #6E7191;
}
footer .footer-top .footer-top-item a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #0075FF;
  text-decoration: none;
}
footer .footer-top .footer-top-item .week h5 {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #211F54;
}
footer .footer-top .footer-top-item .week p {
  margin-top: 8px;
}
footer .footer-top .footer-top-item .btn {
  margin-top: 20px;
  width: 255px;
  height: 75px;
  background: #0075FF;
  border-radius: 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  border: 0;
}
footer .footer-top .footer-top-item .week:last-child {
  margin-top: 15px;
}
footer .footer-top .footer-top-item .contacts a {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #6E7191;
  text-decoration: none;
}
footer .footer-top .footer-top-item .social {
  margin: 0;
  margin-top: 35px;
  width: 244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-top .footer-top-item .social .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  background: #EDF5FF;
  border-radius: 8px;
}
footer .footer-top .footer-top-item .social .icon a {
  line-height: 0;
}
footer .footer-top .footer-top-item .social .icon a .fa-brands {
  font-size: 20px;
}
footer .footer-top .footer-top-item .social .icon a .fa-facebook {
  color: #0b7de6;
}
footer .footer-top .footer-top-item .social .icon a .fa-telegram {
  color: #35a9db;
}
footer .footer-top .footer-top-item .social .icon a .fa-twitter {
  color: #1c9cea;
}
footer .footer-top .footer-top-item .social .icon a .fa-google-plus {
  color: #dd4d3f;
}
footer .footer-top .footer-top-item .social .icon a .fa-facebook-messenger {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(232deg, rgb(255, 113, 97) 0%, rgb(170, 51, 242) 40%, rgb(2, 148, 255) 100%);
}
footer .footer-bottom {
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-bottom .license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
footer .footer-bottom .license .license-item {
  margin-left: 5px;
}
footer .footer-bottom .license .license-item p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: right;
  color: #6E7191;
}
footer .footer-bottom .license .license-item p a {
  color: #0075FF;
}
footer .footer-bottom .license .license-item:first-child {
  margin-left: 0;
}/*# sourceMappingURL=style.css.map */