header
    height: 120px
    left: 0%
    right: 0%
    top: 0px
    background: #FFFFFF
    border-radius: 0px

.wraper-header
    display: flex
    justify-content: space-between
    .menu
        display: flex
        justify-content: space-evenly
        width: 100%
        margin-top: 30px
        .menu-left-side
            display: flex
            justify-content: space-between
            align-items: center
            .menu-items
                display: flex
                justify-content: space-between
                width: 370px
                .item
                    list-style-type: none
                    a
                        text-decoration: none
                        height: 30px
                        top: 0px
                        font-family: 'Roboto'
                        font-weight: 400
                        font-size: 18px
                        line-height: 30px
                        color: #211F54
                        img
                            padding-top: 6px
        .menu-right-side
            display: flex
            justify-content: space-between
            align-items: center
            .menu-items
                display: flex
                justify-content: space-between
                .item
                    display: flex
                    align-items: center
                    list-style-type: none
                    a
                        text-decoration: none
                        height: 30px
                        top: 0px
                        font-family: 'Roboto'
                        font-weight: 400
                        font-size: 18px
                        line-height: 30px
                        color: #211F54
                    .btn
                        width: 175px
                        height: 55px
                        background: #0075FF
                        border-radius: 14px
                        font-family: 'Roboto'
                        font-weight: 400
                        font-size: 16px
                        line-height: 18px
                        color: #FFFFFF
                        border: 0